*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#FEA47F;
   
}
.container{
    background-color: aliceblue;
    width:700px;
    position:absolute;
    padding: 40px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
}
h2{
    font-size: 3rem;
    font-weight:bold;
    margin: 10px 0px;
    margin-bottom: 40px;
    position: relative;
}
h2::after{
    content: '';
    width:75px;
    height:3px;
    border-radius: 3px;
    position: absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    background-color: #FEA47F;
}
blockquote{
    font-size: 1.7rem;
    min-height: 110px;
    margin: 5px 0px;
}
blockquote::after,blockquote::before{
    content: '"';
}
.author{
    font-size: 1.5rem;
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
   
}
.author::before{
    content:'';
    width:20px;
    height: 2px;
    position: absolute;
    top:50%;
    left:-30px;
    background-color: #FEA47F;
}
.btns{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns>button{
   font-size: 1.2rem;
   margin:  50px 5px;
   background-color: #FEA47F;
   color:#ffffffff;
   cursor: pointer;
   text-align: center;
   width:150px;
   height: 50px;
   border:1px solid #FEA47F;
}
@media screen and (max-width:950px) {
    .container{
        width:70%;
    }
}
@media screen and (max-width:650px) {
    .container{
        width:90%;
       
    }
    h2{
        font-size: 2rem;
    }
}